<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" routerLink="">Tidder</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/subreddits">Subreddits<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search For Post(s)" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="sidebar">
      <img id="logo" src="https://ya-webdesign.com/images/reddit-alien-png-3.png">
      <br><br>
      <div *ngIf="(testUser | async)?.userName">
        <p>Welcome, {{(testUser | async)?.userName}}<p>
        <h4>Your subreddits:</h4>
        <div *ngIf="(testUser | async)?.subreddit">
          <div *ngFor="let key of objectKeys((testUser | async)?.subreddit)">
            <a routerLink="/subreddits/{{((testUser | async)?.subreddit)[key].name}}">{{((testUser | async)?.subreddit)[key].name}} </a>
          </div>
        </div>
      </div>
      <div *ngIf="(testUser | async)?.userName.length < 1">
        <form>
          <div class="form-group testUser">
          <label>Username:</label>
          <input #userName type="text">
          </div>
          <button (click)="submitFormUser(userName.value)">Log In</button>
          <button>Sign Up</button>
        </form>
      </div>
    </div>
    <div class="col-md-10 content">
      <div class="title">
        <h1>r/All</h1>
      </div>
      <div *ngIf=posts class="title">
        <div *ngFor="let number of [2,3,4,5,6,7,8,9,10]">
          <p></p>
          <div class="card top3Post">
            <h5 class="card-header">
              {{posts.data.children[number].data.title}}
            </h5>
            <div class="card-body">
              <p class="card-text"> <strong>{{posts.data.children[number].data.score}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; by {{posts.data.children[number].data.author}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="posts===null" class="title loading">
        <img src="/assets/images/loading.gif" />
      </div>
    </div>
  </div>

</div>
