

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="sidebar">
      <img id="logo" src="https://ya-webdesign.com/images/reddit-alien-png-3.png">
      <br><br>
      <div *ngIf="testUser.userName">
        <p>Welcome, {{testUser.userName}}<p>
        <h4>Your subreddits:</h4>
        <div *ngFor="let subreddit of testUser.subreddit">
          <p>{{subreddit}}</p>
        </div>
      </div>
      <div *ngIf="testUser.userName.length < 1">
        <form>
          <div class="form-group">
          <label>Username:</label>
          <input #userName type="text">
          </div>
          <button (click)="submitFormUser(userName.value)">Log In</button>
          <button>Sign Up</button>
        </form>
      </div>
    </div>
    <div class="col-md-10">
      <div class="title">
        <h1>Reddit Organizer</h1>
      </div>
        <br><br>
        <div *ngIf="testUser.userName">
          <div class="title">
            <h2>Here are 3 top posts in each of your subreddit</h2>
            <div *ngFor="let subreddit of testUser.subreddit">
              <h3>{{subreddit}}</h3>
              <p>Blabla</p>
              <p>Blabla</p>
              <p>blalba</p>
            </div>
          </div>
        </div>
        <div *ngIf="testUser.userName.length < 1">
          <div class="title">
            <h2>Here are the popular post for today!</h2>
          </div>
        </div>
    </div>
  </div>

</div>
