.title {
  text-align: center;
}

body {
  padding-top: 20px;
}

#logo {
  height:80px;
  width:80px;
}

#sidebar {
  text-align: center;
}

.testUser input {
  width: 95%;
}

.card {
  display: inline-block;
  width: 80%;
  text-align: left;
}
