@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  font-family: 'PT Sans', sans-serif;
}
.container {
  overflow: hidden;
}
.title {
  text-align: center;
}

.navbar {
  padding-bottom: 10px;
}

.aboutUsP {
  width:50%;
  display: inline-block;
}

.aboutUs {
  padding-top: 15px;
  text-align: center;
}

#logo {
  height:80px;
  width:80px;
}

#sidebar {
  padding-top: 10px;
  text-align: center;
  height:100%;
  background-color: #CAE2F9;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 500px;
}

.content {
  padding-top: 10px;
}

.testUser input {
  width: 95%;
}

.card {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.loading img {
  height: 100px;
  width: 100px;
}
